In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
dataset = pd.read_csv('insurance_pre.csv')

In [6]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [8]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [9]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],'max_features': ['auto','sqrt','log2'],'splitter':['best','random']}

In [11]:
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)

In [12]:
grid.fit(indep, dep)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   19.0s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [13]:
re=grid.cv_results_

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007667,4.713171e-04,0.002334,4.715390e-04,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.703455,0.662155,0.692456,0.686022,0.017464,7
1,0.006001,6.836514e-07,0.002002,1.173403e-06,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.688060,0.710808,0.663905,0.687591,0.019151,6
2,0.006001,1.072147e-06,0.002334,4.708110e-04,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.685632,0.576080,0.678957,0.646890,0.050144,15
3,0.005003,6.836514e-07,0.002666,4.706975e-04,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.627890,0.710981,0.658811,0.665894,0.034290,12
4,0.006001,6.257699e-07,0.002001,5.840039e-07,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.746053,0.669346,0.666894,0.694098,0.036752,5
5,0.005001,5.947204e-07,0.002000,5.947204e-07,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.636493,0.688475,0.552005,0.625658,0.056238,17
6,0.090999,1.219373e-02,0.002336,4.719897e-04,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.691175,0.725384,0.666360,0.694306,0.024198,4
7,0.055666,3.488410e-02,0.038335,2.604284e-02,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.670111,0.726934,0.714659,0.703901,0.024413,2
8,0.025001,1.414223e-03,0.002668,4.711462e-04,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.666446,0.768601,0.715488,0.716845,0.041716,1
9,0.022333,2.623954e-03,0.003002,6.257699e-07,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.623823,0.636694,0.720664,0.660394,0.042940,14
10,0.024000,8.165349e-04,0.002669,4.718199e-04,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.666680,0.693832,0.666260,0.675591,0.012900,11
11,0.019000,8.158535e-04,0.002334,4.719324e-04,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.627463,0.628545,0.658444,0.638151,0.014356,16
12,0.007000,1.123916e-07,0.002003,1.140650e-06,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.711867,0.650784,0.692560,0.685070,0.025493,8
13,0.005335,4.700218e-04,0.002667,4.709770e-04,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.668938,0.689448,0.695601,0.684662,0.011399,9
14,0.006000,9.989584e-07,0.002334,4.716516e-04,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.593231,0.687480,0.387431,0.556047,0.125284,18
15,0.005002,7.786718e-07,0.002333,4.710894e-04,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.709170,0.659691,0.666476,0.678446,0.021901,10
16,0.005999,2.247832e-07,0.002001,5.947204e-07,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.692414,0.731858,0.682656,0.702309,0.021271,3
17,0.007336,2.626367e-03,0.002665,4.696871e-04,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.655745,0.653452,0.675943,0.661713,0.010105,13

In [16]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:65
BMI:45.67
Children:0
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [17]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

In [18]:
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[12574.049]